<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Hello World!</title>
	<link rel="stylesheet" type="text/css" href="style/style.css">
	<script type="text/javascript" src='scripts/application.js'></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body onload="carregamento_pagina()">
	<script type="text/javascript">
		pctg = 0
		function carregamento_pagina(){


		}
	</script>
	<br>
	<p>
		<script type="text/javascript">
			document.write('<div class="alert alert-primary m-5 text-center" role="alert">')
			document.write('<h3>')
			document.write('PEDIDO CONFIRMADO.')
			document.write('<br>')
			document.write('Número do pedido: <b>#'+String(Date.now())+'</b>.')
			document.write('</h3>')

			document.write('</div>')
		</script>
	</p>
	<p>
		<script type="text/javascript">
			document.write('<div class="m-5"><h3>')
			document.write('Olá ' + String(localStorage.getItem('form_nome'))+' seu pedido foi realizado com sucesso.')
			document.write('</h3><br>')
			document.write('<b><h3>Endereço de entrega:</b></h3>')
			document.write('<h4>Rua: '+String(localStorage.getItem('form_address'))+'</h4>')
			document.write('<h4>Cidade: '+String(localStorage.getItem('form_cidade'))+'</h4>')
			document.write('<h4>Região: '+String(localStorage.getItem('form_regiao'))+'</h4>')
		</script>
	</p><br>
	<p>
		<div class="container">
			<div class="row">
				<div class="col-8 border border-secondary">
					
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col"><h3>#</h3></th>
								<th scope="col"><h3>Caracteristica:</h3></th>
							</tr>

						</thead>
						<tbody>
							<tr>
								<script type="text/javascript">
									pdts = ecObj.products[String(retorna_produto())]
									obj_pdts = Object.keys(pdts)

									for (var i = 0; i < obj_pdts.length; i++){
										ch_pdt = obj_pdts[i]
										vl_pdt = pdts[ch_pdt]

										if (ch_pdt != 'path_photo'){
											console.log(ch_pdt)
											console.log(vl_pdt)
											document.write('<tr>')
											document.write('<th scope"row"><h3>'+String(ch_pdt).charAt(0).toUpperCase() + String(ch_pdt).slice(1)+'</h3></th>')
											document.write('<td><h3>'+String(vl_pdt).charAt(0).toUpperCase() + String(vl_pdt).slice(1)+'</h3></td>')
											document.write('</tr>')
										}
									}
								</script>
							</tr>
						</tbody>
					</table>

				</div>
				<div class="col-4 border border-secondary">
					<div id="surprise" class="text-center"></div>
					<script type="text/javascript">
						path_foto = window.ecObj.products[String(localStorage.getItem("produto_adicionado"))]['path_photo']
						document.getElementById("surprise").innerHTML="<img src='"+path_foto+"' />";
					</script>
				</div>
			</div>
		</p>
		<p>
			<div>
				<script type="text/javascript">
					document.write('<h5>Todas as informaçoes da compra foram enviadas para o e-mail cadastrado: '+ String(localStorage.getItem('form_email'))+'</h5>')
				</script>
			</div>
		</p>
		<p>
			<div>
				<a href="index.html" class="btn btn-primary">Voltar para a home</a>
			</div>
		</p>

	</body>
	</html>